.ntt__header-top {
  padding: 20px 20px;
  border-bottom: 1px solid #89919A;
}

.ntt__header-top-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ntt__header-logo img {
  display: block;
  max-width: 240px;
  width: 100%;
}

.ntt__header-toggle {
  display: none;
}

.ntt__header-searchbox {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
}

.ntt__header-search-input {
  flex-grow: 1;
  max-width: 860px;
}

.ntt__header .ntt__header-search-select::before {
  border-bottom: 0px;
}

.ntt__header-search-select .MuiSelect-select {
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 4px;
  line-height: 16px;
}

.ntt__header-search-input>.MuiFormControl-root {
  width: 100%;
}

ul.ntt__header-bottom-links {
  list-style: none;
  padding: 0px;
  margin: 0;
  display: flex;
}

.ntt__header-bottom-links li a {
  padding: 20px 16px;
  display: inline-block;
  position: relative;
  color: #6A6D70;
  text-decoration: none;
}

.ntt__header-bottom-links li a:before {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 3px;
  background-color: #0059bc;
  left: 0;
  transform: scaleX(0);
  transition: all 0.3s;
}

.ntt__header-bottom-links li a:hover {
  color: #000;
}

.ntt__header-bottom-links li a:hover:before {
  transform: scaleX(0.84);
}

.ntt__header-mega-menu {
  position: absolute;
  top: calc(100% - 5px);
  width: 100%;
  left: 0;
  background-color: #F4F5F6;
  z-index: 999;
  padding: 30px 30px;
  transform: scaleY(0);
  opacity: 0;
  transform-origin: top;
  transition: all 0.3s;
}

.ntt__header-mega-menu.ntt__header-mega-menu--active {
  transform: scaleY(1);
  opacity: 1;
}

.ntt__header-mega-menu-image {
  max-width: 100%;
}

.ntt__header-mega-menu-anchor {
  color: #000;
  text-decoration: none;
  padding: 5px 0px;
  display: inline-block;
}

.ntt__header-mega-menu-links {
  padding: 0;
  margin: 0;
  list-style: none;
}

.MuiMenu-paper.MuiPaper-root.MuiPaper-rounded {
  background-color: #00254F;
  color: #FFFFFF;
}

.MuiMenu-paper.MuiPaper-root.MuiPaper-rounded .Mui-selected {
  background-color: #0059BC;
}

@media (max-width: 991px) {
  .ntt__header-bottom-links li {
    min-width: 112px;
  }

  .ntt__header-bottom-links {
    overflow-x: auto;
  }
}

@media (max-width: 540px) {
  .ntt__header-top-wrapper {
    flex-wrap: wrap;
  }

  .ntt__header-logo img {
    max-width: 190px;
  }

  .ntt__header-search-input .MuiInputAdornment-root {
    display: none;
  }

  .ntt__header-searchbox {
    gap: 0;
  }

  .ntt__header-search-button button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 40px;
    min-width: 110px;
  }

  .ntt__header-bottom {
    display: none;
  }

  .ntt__header-toggle {
    display: block;
    margin-left: auto;
  }

}